.rs-services {
	border-bottom: 1px solid #dddddd;
}

@media (min-width: 991.98px) {
	.rs-services__wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 991.98px) {
	.rs-services__imgs {
		padding: 40px;
		grid-column: 1 span;
		border-top: 1px solid #dddddd;
		border-left: 1px solid #dddddd;
	}
}

@media (min-width: 991.98px) and (max-width: 1439.98px) {
	.rs-services__imgs {
		padding: 20px;
	}
}

@media (max-width: 991.98px) {
	.rs-services__imgs {
		display: none;
	}
}

.rs-services__imgs_list {
	position: relative;
}

.rs-services__img {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.rs-services__img.active {
	opacity: 1;
}

.rs-services__img img {
	-o-object-fit: contain;
	object-fit: contain;
	max-width: 100%;
}

.rs-services__blocks {
	border-left: 1px solid #dddddd;
}

@media (min-width: 991.98px) {
	.rs-services__blocks {
		grid-column: 3 span;
	}
}

.rs-services__slider {
	overflow: visible;
}

.rs-services-1 .rs-services__swiper {
	counter-reset: items;
}

@media (min-width: 991.98px) {
	.rs-services__swiper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.rs-services-2 .rs-services__swiper {
		grid-template-columns: repeat(1, 1fr);
	}
}

.rs-services__slide {
	padding: 40px;
	height: auto;
	border-right: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	background-color: #fff;
}

@media (max-width: 1439.98px) {
	.rs-services__slide {
		padding: 20px;
	}
}

@media (min-width: 991.98px) {
	.rs-services__slide {
		min-height: 461px;
	}
}

.rs-services-2 .rs-services__slide {
	padding: 40px 55px;
	min-height: unset;
}

@media (max-width: 1439.98px) {
	.rs-services-2 .rs-services__slide {
		padding: 20px;
	}
}

.rs-services__desc {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

@media (min-width: 991.98px) {
	.rs-services-2 .rs-services__desc {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}

.rs-services-1 .rs-services__head:before {
	counter-increment: items;
	content: counter(items, decimal-leading-zero) "";
	margin-bottom: 15px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: "BOWLER", sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #fff;
	padding: 5px 20px;
	border-radius: 48px;
	background-color: var(--second-color);
}

@media (min-width: 991.98px) {
	.rs-services-1 .rs-services__foot {
		min-height: 100px;
	}
}

@media (min-width: 991.98px) {
	.rs-services-2 .rs-services__foot {
		max-width: 370px;
		width: 100%;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		text-align: left;
		margin-left: 15px;
	}
}

@media (max-width: 991.98px) {
	.rs-services__foot {
		margin-top: 10px;
	}
}